// Cattery overview
.cattery-overview, #cattery-view {
  h3 {
    font-weight: bold;
    margin: 0;
  }
  
  .btn {
    height: 50px;
    line-height: 50px;
    font-size: 1.1em;
    background-color: $secondaryShade5;

    &:hover {
      background-color: $secondaryShade4;
    }

    @include small-and-down {
      span {
        display: none;
      }

      i {
        font-size: 1.8em;
        padding: 0 10px;
        margin: 0 auto;
      }
    }
  }

  .btn-floating {
    background-color: $primaryColor;
  }

  .card-content {
    .btn-floating {
      bottom: 90px;
    }
  }

  a {
    .info-block {
      color: $black;
    }
  }

  .tabs {
    .tab {
      a {
        font-weight: bold;
        color: $primaryColor;

        &:focus {
          background-color: $white;
        }
      }
  
      a.active {
        color: $primaryColor;
        background-color: $primaryShade6;
  
        &:focus {
          background-color: $primaryShade6;
        }
      } 
    }

    .indicator {
      background-color: $primaryColor;
    }
  }

  .tabs.tabs-fixed-width {
    overflow: hidden;
  }

  .tabs-content.carousel {
    height: $imgHeight;
    
    .carousel-item {
      min-height: 0px;
    }
  }

  .indicators {
    display: none;
  }

  // Health tests text on card
  .card-reveal-link {
    text-align: center;
    color: $primaryColor;
    font-weight: bold;
    margin-top: 10px;

    .material-icons {
      position: relative;
      top: 7px;
    }
  }

  .card-reveal {
    border-top: 3px solid $secondaryColor;

    .card-title {
      text-align: left;
      background-color: transparent;

      .material-icons {
        position: relative;
        top: 4px;
        transition: 0.2s ease-in-out;
        padding: 5px;

        @include small-and-down {
          left: 0px;
        }
      }
    }

    p {
      font-size: 1.2em;
    }

    .test-block {
      font-size: 1em;

      .row {
        margin-left: inherit;
      }

      .test-name {
        position: relative;
        top: 2px;
        left: 10px;
      }

      .test-icon {
        color: $secondaryColor;
        float: left;
      }
    }
  }
}

#materialbox-overlay {
  opacity: 0.8 !important;
}