// Form
.form {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  padding: 2rem;
  margin: 5rem auto;

  @include small-and-up {
    width: 75%;
  }

  .form-title {
    position: relative;
    right: 7px;
    font-size: 2.8em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0px;

    &:before {
      content:"";
      padding: 10px 0px;
      border-left: 5px solid $primaryColor; 
      position: relative;
      right: 23px;
    }
  }

  .form-section-title {
    display: inline-block;
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .form-section-title.no-margin {
    margin: 0;
  }

  .title-info {
    font-size: 0.9em;
  }

  .input-field {
    label.active {
      font-weight: bold;
      color: $black !important;
    }

    .checkbox-label {
      position: relative !important;
      display: block;
      transform: scale(1.05);
      font-weight: bold;
      color: $black;
    }

    .switch {
      .checkbox-label {
        font-size: 1em;
      }

      .lever-no-margin {
        margin-left: 5px;
      }
    }

    .disabled-input {
      border-bottom-style: solid !important;
    }
  }

  .select-dropdown {      
    font-size: 1em !important;

    span {
      color: black;
    }

    &:focus {
      box-shadow: 0 1px 0 0 #26a69a;
    }
  }

  .select-dropdown {
    li {
      &:first-child {
        span {
          color: $inactiveGrey;
        }
      }
    }
  }

  .inactive-select {
    color: $inactiveGrey;
  }

  button {
    background-color: $secondaryShade5;

    &:hover, &:focus {
      background-color: $secondaryShade4;
    }
  }

  a {
    display: block;
    color: black;
    transition: ease-in-out 0.5s;

    &:hover, &:focus {
      text-decoration: underline;
    }
  }

  .btn {
    color: $white;
    
    &:hover, &:focus {
      background-color: $secondaryShade4;
      text-decoration: none;
    }
  }

  .inner-form-btn {
    min-width: 145px;
    width: 30%;
  }

  .btn-link, .btn-delete {
    color: $white;

    &:hover, &:focus {
      text-decoration: none;
      background-color: $secondaryShade4;
    }
  }

  .btn-link {
    display: inline-block;
    background-color: $secondaryShade5;
    transition: cubic-bezier(0.39, 0.58, 0.57, 1) 0.2s;

    &:hover, &:focus {
      transform: scale(1.05);
    }
  }

  .inline-link {
    display: inline-block;
    text-decoration: underline;
    transition: cubic-bezier(0.39, 0.58, 0.57, 1) 0.2s;

    &:hover, &:focus {
      color: $primaryColor;
      font-weight: bold;
    }
  }

  .file-field {
    .material-icons-outlined {
      font-size: 2em;
    }

    span {
      position: relative;
      bottom: 7px;
    }
  }

  .card-picture-preview, .pictures-preview {
    span {
      display: block;
      text-align: center;
      font-size: 1.5em;
      font-weight: bold;
      color: $inactiveGrey;
    }
  }

  .card-picture-preview {
    max-width: 304px;
    height: 304px;
    border: 2px dashed $inactiveGrey;
    overflow: hidden;

    span {
      padding-top: 15px;
    }

    img {
      object-fit: cover;
      width: $imgHeight;
      height: $imgHeight;
    }
  }

  .pictures-preview {
    widows: 100%;
    border: 2px dashed $inactiveGrey;
    overflow: hidden;

    span {
      padding: 40px 0px;
    }

    .image-placeholder {
      width: 25%;
      height: 150px;
      float: left;
      overflow: hidden;

      @include small-and-down {
        width: 100%;
      }
    }

    .thumbnail {
      width: 100%;
      min-height: 150px;
      object-fit: fill;
    }
  }

  // Datepicker
  .datepicker-container {
    .datepicker-date-display {
      background-color: $primaryColor;
    }

    .datepicker-controls {
      button {
        &:hover {
          background-color: $canvasColor;
        }
      }
    }

    .is-today {
      button {
        font-weight: bold;
        color: $primaryColor;
      }
    }

    .is-selected {
      button{
        font-weight: bold;
        color: $white;
        background-color: $primaryColor;
      }
    }

    .confirmation-btns {
      button {
        color: $primaryColor;
        border-radius: 20px;
      }

      .datepicker-done {
        font-weight: bold;
      }
    }

  }

  .datepicker-calendar, .datepicker-footer {
    button {
      background-color: $canvasColor;
      transition: ease-in-out 0.1s;

      &:hover {
        color: $white;
        background-color: $primaryColor;
      }
    }
  }

  .fixed-text-ajax {
    position: relative;

    @include small-and-up {
      top: 15px;
    }
  
    b {
      font-size: 1.1em;
    }
  }

  .hidden {
    display: none;
  }
}

// Form tooltips
.material-tooltip {  
  background: $secondaryShade5;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);

  div {
    font-size: 1em;
  } 
}

// Errors
.helper-text-error {
  font-weight: bold;
  color: $errorColor !important;
}

.field_with_errors {
  label {
    position: absolute;
    top: -10px;
    font-weight: bold;
    color: $black !important;
  }

  input, textarea {
    border-bottom: 2px solid $errorColor !important;

    &:focus {
      box-shadow: none !important;
    }
  }
}

// Message if nothing was added
.empty-message {
  display: inline-block;
  font-size: 2em;
  font-weight: bold;
  color: $inactiveGrey;
  padding: 30px 15px;
  border-bottom: 2px dashed $inactiveGrey;
  margin: 50px auto;
}

// Alert messages
#toast-container {
  @include small-and-up {
    min-width: 10%;
    bottom: 85%;
    right: 50%;
    transform: translateX(50%) translateY(50%);
  }
}

.alert-success {
  background-color: $alertSuccess;
}

.alert-danger {
  background-color: $alertNotice;
}

.alert-error {
  background-color: $errorShade;
}

// Confirmation tooltip
.confirmed-tooltip {
  cursor: default !important;
  color: $secondaryColor !important;
  display: inline-block;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.awaiting-confirmation, .blocking-helper-text {
  color: $errorColor;
  font-weight: bold;
}

.awaiting-confirmation {
  position: relative;
  bottom: 15px;
}

.blocking-helper-text {
  margin-top: 15px;
}

.resend-confirmation-btn {
  display: inline-block !important;
  color: $white !important;  

  &:hover, &:focus {
    text-decoration: none !important;
    background-color: $secondaryShade4;
  }
}

// Delete button
.btn-delete-large, .btn-delete  {
  background-color: $accent3Shade3 !important;
  max-width: 200px;

  &:hover {
    background-color: $accent3Shade4 !important;
  }
}

.btn-delete-large {
  
  .material-icons {
    font-size: 1em;  
    transform: scale(1.7);
    padding-left: 10px;
  }
}

.btn-delete {
  max-width: 150px;

  @include small-and-down {
    span {
      display: none;
    }

    i.right {
      margin-left: 0px;
    }
  }
}

.modal {
  border-radius: 5px;
}

.modal-confirmation {
  max-width: 500px;
  text-align: center;
  padding-bottom: 25px;

  .modal-content {
    padding-bottom: 0px;
  }

  h4 {
    font-weight: bold;
  }

  p {
    font-size: 1.4em;
    margin: 15px auto !important;
  }

  .modal-footer {
    text-align: center;
  }
  
  
  $margin-buttons: 15px;

  @include small-and-down {
    $margin-buttons: 5px;
  }
  
  $width-buttons: 125px;

  .btn-confirm, .btn-cancel {
    display: inline-block;
    min-width: $width-buttons;
  }


  .btn-confirm {
    background-color: $alertSuccess;
    margin-left: $margin-buttons !important;

      &:hover, &:focus {
        background-color: darken($alertSuccess, 10%);
      }
  }

  .btn-cancel {
    background-color: $accent3Shade3;
    margin-right: $margin-buttons !important;

    &:hover, &:focus {
      background-color: darken($accent3Shade3, 10%);
    }
  }
}

.disabled-tooltip-wrapper {
  cursor: default;
  background-color: $canvasColor;
  box-shadow: none;

  &:hover, &:focus {
    background-color: $canvasColor !important;
    box-shadow: none;
  }
}

button.btn-delete {
  font-size: 0.95em !important;
}

// Reset dropdown button
.reset-dropdown {
  cursor: pointer;
  display: none;
  position: absolute;
  left: -50px;
  bottom: -2px;
  padding: 10px;
  border: none;
  background-color: transparent;
  transition: ease-in-out 0.2s;

  &:hover,  &:focus  {
    color: $white;
    background-color: $secondaryShade5;
  }
}


// Social media icons

// My cattery page
.form {
  .fa-facebook-square.active, .fa-facebook-square.active-social {
    color: $facebook-primary;
  }

  .fa-instagram {
    font-weight: bold;
  }

  .fa-instagram.active, .fa-instagram.active-social {
    color: $instagram-primary;
  }

  .fa-twitter.active, .fa-twitter.active-social {
    color: $twitter-primary;
  }
}

// buttons to my cattery pages
.my-cattery-pages {
  @include small-and-down {
    .col {
      width: 100%;

      &:nth-child(0) {
        margin-top: -20px;
      }  
    }

    .btn-large {
      display: block;
      margin: 0 auto;
      width: 75%;
      
      &:nth-child(1) {
        margin-top: 25px;
      }
    }
  }
}

// Show page
.social {
  width: 100%;
  margin: 15px 0px;

  @include small-and-down {
    .col {
      text-align: center;
    }
  }
  
  .btn-large {
    margin: 0px 10px;
    transition: 0.2s cubic-bezier(0.57, 0.04, 0.61, 1.3);

    &:hover {
      transform: scale(1.15);
      
    }
  }

  .fa-instagram {
    font-size: 2em;
  }
}

// Social media background colors
.facebook {
  background-color: $facebook-primary !important;
}

.instagram {
  background-color: $instagram-primary !important;
}

.twitter {
  background-color: $twitter-primary !important;
}

.google {
  background-color: transparent;
}

// Create colored Google icon
.fa-google {
  background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

// External login buttons

// divider with text in middle
.text-divider-container.row {  
  margin-left: auto;
  margin-right: auto; 
}

.text-divider-container {
  font-size: 1.2em;
  font-weight: bold;
  color: $black;
  text-align: center;
  width: 60%;

  .text-divider {
    overflow: hidden;
    text-align: center;
  
    &:before, &:after {
      content: "";
      display: inline-block;
      height: 2px;
      position: relative;
      vertical-align: middle;
      width: 50%;
    }
  
    &:before {
      background: linear-gradient(to right, transparent, $black);
      right: 0.5em;
      margin-left: -50%;
    }
  
    &:after {
      background: linear-gradient(to left, transparent, $black);
      left: 0.5em;
      margin-right: -50%;
    }
  }
}


.form {
  .social {
    position: relative;
  
    @include medium-and-up {
      top: 20px;
    }

    @include medium-and-down {
      &:before, &:after {
        content: "";
        background: $inactiveGrey;// linear-gradient(to left, transparent, $inactiveGrey, transparent);
        display: inline-block;
        height: 1px;
        position: relative;
        vertical-align: middle;
        width: 100%;
      }

      &:before {
        margin-bottom: 20px;
      }

    }

    .btn-external-login {
      font-weight: bold;
      
      &:hover, &:focus {
        text-decoration: none;
        background-color: transparent;
      }

      &:hover {
        transform: scale(1.02);
        background-color: transparent;
      }

      .fab {
        font-size: 1.5em;
        margin-right: 10px;
      }

      @include medium-and-up {
        width: 80%;
        margin: 0 auto;
      }
      
      @include medium-and-down {
        width: 100%;
        margin-left: 0px;
      }
    }

    .facebook.btn-external-login {
      color: $white;

      &:hover {
        background-color: darken($color: $facebook-primary, $amount: 25);
      }
    }
  }
  
}


// Select thumbnail image
.select-dropdown {
  li {
    img {
      object-fit: cover;
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
      border-radius: 5px;
    }
  }
}

.cat-id {
  display: none;
}

// Dropdown options hover effect
.input-field {
  .dropdown-content {
    z-index: 996;
  }
}

.dropdown-content {
  li {
    span {
      color: $black;
    }
  }

  .selected {
    background-color: $secondaryShade3 !important;
  }
}

// Floating action button
.btn-floating {
  background-color: $secondaryColor;

  &:hover, &:focus {
    background-color: darken($secondaryColor, 10%);
  }
}

// Contact form
.contact {
  .form {
    .contact-info-block {
      font-size: 1.6em !important;
      $contact-margin-top: 10;
      $contact-margin-top-first: (55-$contact-margin-top) + px;

      @include small-and-up {
        padding-left: 15px;
      }

      @include small-and-down {
        font-size: 1.8em !important;
      }
      
      &:first-child {
        margin-top: $contact-margin-top-first;

        @include small-and-down {
          margin-top: 10px;
        }
      }

      .info-title {
        text-align: right;
        position: relative;
        right: 15px;

        @include small-and-down {
          text-align: left;
        }
      }

      .info-title, .info-text {
        margin-top: ($contact-margin-top) + px;
      }
    }
  }
}

// Preloader
.preloader-wrapper {
  display: none;
  text-align: center;
}

.preloader-wrapper.active {
  display: block;
  margin: 10px auto;
}

// Provide basic styling for browser-default select
select.browser-default {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 16px;
  margin: 0 0 8px 0;
  padding: 0;
  box-shadow: none;
  box-sizing: content-box;
  -webkit-transition: border .3s, -webkit-box-shadow .3s;
  -webkit-transition: box-shadow .3s, border .3s;
  transition: box-shadow .3s, border .3s;

  &:focus {
    border-bottom: 1px solid #26a69a;
    box-shadow: 0 1px 0 0 #26a69a;
  }
}