// Header
header {
  .nav-dropdown-trigger {
    span {
      position: relative;
      right: 10px;
    }
  }
  .material-icons {
    position: absolute;
    right: 8px;
    top: 0px;
  }

  .dropdown-content {
    li > a {
      color: $primaryColor;
    }
  }
}

.nav-wrapper {
  height: inherit;
  background-color: $primaryColor;

  .logo {
    display: inline-block;
    font-size: 2em;
    font-weight: bold;
    height: inherit;

     img {
      vertical-align: middle;
      height: inherit;
      padding: 10px;
     }
  }
}

nav {
  z-index: 1005;

  ul {
    .vl {
      vertical-align: middle;
      border-left: 6px solid $backgroundColor;
      height: 50px;
    }

    a {
      font-size: 1.2em;
      font-weight: bold;
      padding: 0px 30px;
    }
  }
}

// Mobile sidebar
.sidenav {
  background-color: $primaryShade4;

  .logo {
    display: block;
    text-align: center;
    padding-bottom: 15px;

    img {
      display: block;
      margin: 0 auto;
    }
  }

   a {
     font-size: 1.5em !important;
     font-weight: bold !important;
     color: $backgroundColor !important;
   }

   .logo, .divider {
    border-bottom: 3px dashed $backgroundColor;
    width: 80%;
    margin: 15px auto;
   }

   .divider {
      background-color: transparent;
   }

   .subitem {
    font-size: 1.2em !important;
    padding-left: 40px;
   }
}