// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// Home - landing page
.turbolinks-progress-bar {
  height: 3px;
  background-color: $secondaryColor;
}

.home-landing {
  
    @include small-and-down {
    display: flex;
    align-items: center;
    min-height: 60vh;
  }

  .image-m {
    display: none;
    width: 100%;
    margin-top: 30px;
  } 

  .row {
    padding: 0 2rem;
    @include small-and-up {
      padding: 0 8rem;
      
      .image-m {
        display: block;
      }
    }

    @include small-and-down {
      width: 100%;
    }
  }

  .col {
    @include small-and-down {
      padding: 0;
      margin: 0 auto 50px auto;
    }
  }

  // "Find a cat!" title
  h1 {
    font-size: 5em;
    font-weight: bold;

    @include small-and-down {
      font-size: 3.5em;
      margin: 0px;
    }
  }

  // Find a cat dropdown
  .select-dropdown {
    border-bottom: 2px solid $primaryColor !important;

    span {
      color: $black;
    }
  }
}

.select-wrapper {
  svg {
    position: absolute;
    right: 5px;
    bottom: 10px;
  }
}

.large-btn-row {
  text-align: center;
}

.home-landing, .kittens-landing, .large-btn-row {
  .btn-large {
    background: $primaryColor !important;
    margin-top: 10px;

    &:hover {
      background: $primaryShade4 !important;
      transform: scale(1.05);
    }
  }
}

.search-landing {
  @include small-and-up {
    padding-left: 2em !important;
    margin-top: 10%;
  }

  @include small-and-down {
    width: 100%;
  }
}

// Breeds section
.container {
  h1 {
    font-weight: bold;
    text-align: center;

    @include small-and-down {
      font-size: 3.5em;
    }
  }
}

.breeds-landing {
  h1 {
    margin-bottom: -11rem;

    @include small-and-up {
      margin-top: 1.5em;
    }

    @include small-and-down {
      margin-bottom: -5rem;
    }
  }

  .container {
    width: 85%;      

    @media only screen and (max-width : 1376px) {
      width: 100%;
    }

    @include medium-and-down {
      
    }

    @include small-and-down {
      h1 {
        margin: 0 10px -8rem 10px;
      }
    }
  }

  .carousel {
    height: 640px;

    @include small-and-down {
      height: 500px;
    }

    .carousel-item {
      width: 300px;

      @include small-and-down {
        width: 230px;
      }
    }
  }  
}

.carousel {
  .indicators {
    bottom: -30px;
  
    @include small-and-down {
      bottom: -30px;
    }
  
    .indicator-item {
      background-color: $primaryColor;
    }
  
    .active {
      background-color: $secondaryColor !important;
    }
  }
}

.breeds-landing, .breeds-index {
  .card {
    color: $black;
    overflow: hidden;
  
    .card-image, .card-content {
      cursor: pointer;
    }
  
    .card-image {
      overflow: hidden;
      max-height: 300px;
  
      @include small-and-down {
        max-height: 250px;
      }
    }
  
    .card-content, .card-reveal {
      border-top: 5px solid $secondaryColor;
    }
  
    .material-icons {
      transition: ease-in-out 0.2s;
      
        &:hover {
          background-color: $primaryColor;
          color: $backgroundColor;
        }
      }
  
    .card-content {
      font-size: 1.4em;
      font-weight: bold;
  
      .material-icons {
        transform: scale(1.5);
        position: absolute; 
      }
  
      @include small-and-up {
        .material-icons {
          bottom: 25px;
          right: 25px;
        }
      }
  
      @include small-and-down {
        font-size: 1.3em;
        
        .material-icons {
          transform: scale(1.5);
          bottom: 25px;
          right: 15px;
        }
      }
    }
  
    .card-reveal {
      .card-title {
        font-size: 1.5em;
        font-weight: bold;
  
        @include small-and-down {
          font-size: 1.3em;
        }
      }
  
      .material-icons {
        transform: scale(1.2);
        position: absolute;
        top: 27px;
        right: 15px;
        padding: 3px;
  
        @include small-and-down {
          top: 20px;
          right: 10px;
        }
      }
  
      a {
        display: block;
        font-size: 1.2em;
        font-weight: bold;
        color: $primaryColor;
  
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

// Kittens section
.kittens-landing, .cattery-overview, .kittens-index, .other-kittens, .catteries-index, #cattery-view, .breed-show {
  .card {
    transition: ease-in-out 0.2s;

    &:hover {
      cursor: pointer;
      transform: scale(1.05);
      box-shadow: $z-depth-3;
    }
  }

  .card-image {
    max-height: $imgHeight;
    height: 300px;
    
     img {
      height: $imgHeight;
      width: 100%;
      object-fit: cover;
      box-shadow: none !important;
     }
  }

  .card-title {
    display: block;
    background-color: $secondaryColor;
    opacity: 0.8;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    padding-right: 8px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    letter-spacing: 0.06em;
    margin-bottom: 15px !important;
  }

  .card-image {
    .card-title {
      padding: 8px;
    }
  }

  .card-content {
    color: $black;
    padding: 10px 15px 20px 15px;
    border-top: 5px solid $secondaryColor;
    
    .info-block {
      .row {
        margin: 0;
      }

      .col {
        padding: 0;
      }
    }

    .info-title {
      font-size: 0.8em;
      color: $accentShade4;
      text-align: left;
      text-transform: uppercase;
    }

    .info-text {
      font-weight: bold;
    }

    .info-block {
      border: none;
      border-spacing: 0;
  
      td {
        padding: 3px;
      }
  
      .info-title {
        font-size: 0.9em;
        width: auto;
        width: 1px;
        padding-right: 5px;
        white-space: nowrap;
      }
  
      .info-text {
        font-size: 1.1em;
        text-align: left;
      }
    }
  }

  .card-action {
    text-align: center;

    .row {
      margin: 0;
    }

    a {
      margin-right: 0 !important;
    }

    .btn-flat {
      font-size: 1.2em;
      color: $backgroundColor !important;
      background-color: $primaryColor;
      height: 40px;
      line-height: 40px;
    }
  }
}

.kittens-landing, .large-btn-row {
  .btn-wrapper {
    text-align: center;
  }

  [class*='fa-'] {
    transform: scale(1.6);
  }

  .fa-cat {
    margin-left: 15px;
  }

  .fa-paw {
    margin-right: 15px;
  }

  .small-and-down-text {
    display: none;
  } 

  @include small-and-down {
    .small-and-up-text {
      display: none;
    }
    .small-and-down-text {
      display: inline-block;
    }
  }
}

.cattery-landing {
  margin-bottom: 50px;
  
  .card-panel {
    font-size: 1.2em;
    color: $black;
    padding: 20px;
    border-radius: 5px;
    border-top: 3px solid $secondaryColor;

    h2 {
      font-size: 1.3em;
      font-weight: bold;
      margin: 15px 0;
    }

    .btn {
      margin-bottom: 15px;

      &:hover {
        background-color: darken($color: $secondaryColor, $amount: 10%);
      }
    }
  }

  img {
    width: 100%;
    position: relative;
    top: 5px;
  }
}