// Kittens & catteries index
.kittens-index, .catteries-index, .filter-bar {
  h1 {
    font-size: 5em;
    font-weight: bold;
    text-align: center;
  }

  .select-wrapper input.select-dropdown, .multiple-select-dropdown {
    border-bottom: 2px solid $primaryColor;
  }
}

#kittens, #catteries {
  .row {
    margin-bottom: 0px;
  }
}