// Kitten show page
#kitten-view, #cattery-view, #contact {
  img {
    border-radius: 5px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
  }

  // Kitten main content
  .picture-main-container {
    text-align: center;
    margin-bottom: 25px;
  }

  .picture-main {
    width: 80%;
    height: auto;
    margin: 0 auto;
  }

  .cat-name {
    font-size: 2em;
    text-transform: uppercase;
    margin: -1.5rem 0 1rem 0;
  }

  .info-main, .contact-info-block {
    font-size: 2em;

    @include small-and-down {
      font-size: 1.8em;
    }

    .row {
      margin-bottom: 5px;
    }

    .info-title, .info-text {
      padding: 7px 0px;
    }
    
    .info-title {
      font-size: 0.75em;
      font-weight: bold;
      text-transform: uppercase;
      padding-left: 15px;
    }

    .info-text {
      font-size: 0.9em;
      position: relative;
      bottom: 4px;
      word-wrap: break-word;

      @include small-and-down {
        font-size: 0.75em;
      }
    }

    .info-link {
      color: $primaryColor;
      text-decoration: underline;
      transition: ease-in-out 0.2s;
      word-wrap: break-word;

      &:hover {
        font-weight: bold;
      }
    }

    .material-icons {
      font-size: 1.5em;
      position: relative;
      top: 2px;
    }

    .check {
      color: $secondaryColor;
    }

    .close {
      color: $errorShade;
    }
  }

  // Masonry layout
  .grid {
    display: none;
  }

  .grid.active {
    display: block;
  }

  .grid-col {
    float: left;
    height: auto;
    width: 25%;

    @include small-and-down {
      width: 50%;
    }
  }

  @include small-and-down {
    .grid-col--1, .grid-col--2 {
      display: none;
    }
  }

  .pictures-other-container {    
    .image-placeholder {
      display: inline-block;
      padding: 0.5em;

      .thumbnail {
        width: 100%;
        height: auto;
      }
    }
  }

  .pictures-other-container, .pictures-parents-container, .other-kittens {
    @include small-and-up {
      padding: 0 5%;
    }
  } 

  // Kitten parents
  .parents, .other-kittens {
    h1 {
      margin: 3rem auto;

      @include small-and-down {
        margin: 0rem auto 1.5rem auto;
      }
    }
  }

  .parents {
    .picture-parent-container {
      @include small-and-up {
        padding: 0.5em 0.75em 0.5em 0;
      }
      overflow: hidden;
      
      img {
        width: 100%;
        height: auto;
      }
    }

    .parent-info {
      text-align: center;
      margin-top: -15px;
      margin-bottom: 50px;
      
      h3 {
        font-weight: bold;
      }
  
      h4 {
        font-size: 1.3em;

        span {
          font-weight: bold;
          text-transform: uppercase;
        }
      }
    }
  }  
  // Other kittens from same litter
  .other-kittens {
    $height: 400px;
    
    .card-image {
      max-height: $height;
    }
    
    img {
      height: $height !important;
    }
  }

  .other-kittens, #litters, #kittens {
    .available-text, .check, .unavailable-text, .close  {
      font-size: 1.2em;
      font-weight: bold;    
    }

    .check, .close {
      font-size: 1.5em;
    }

    .info-available {
      position: relative;
      right: 15px;
      text-transform: uppercase;
      padding-top: 10px;
      margin-bottom: -10px;


      span {
        position: relative;
        left: 5px;
        bottom: 5px;
      }
    }

    .available-text, .check {
      color: $secondaryColor;
    }

    .unavailable-text, .close {
      color: $errorShade;
    }
  }

  #litters, #kittens {
    .available-text, .check, .unavailable-text, .close {
      font-size: 1em;
    }

    .info-available {
      position: relative;
      right: 0px;
      text-align: center;
    }
    .carousel, .carousel-item {
      max-height: 300px;
    }

    .indicators {
      display: block;
      transform: scale(1.3);
      bottom: -10px; 
    }
  }
}

// Card filter icon
.filter-icon-container {
  display: none;
  position: absolute;
  right: -10px;
  top: -20px;
  color: $primaryColor;
  background-color: $white;
  opacity: 0.9;
  z-index: 1;
  padding: 10px;

    .filter-list {
      font-size: 2em;
    }

    .add-circle, .check-circle {
      position: absolute;
      bottom: 10px;
      right: 6px;
      font-size: 1.1em;
    }

    .check-circle {
      display: none;
    }
}

.filter-icon-container.active {
  color: $secondaryColor;
  display: block;
}

.selected-filters-message {
  display:none;
  font-size: 1.1em;
  text-align: center;
  margin-top: -20px;
  margin-bottom: 20px;

  span, b {
    position: relative;
    bottom: 2px;
  }

  span {
    font-style: italic;
    padding-right: 5px;
  }

  .material-icons {
    position: relative;
    top: 5px;
    font-size: 1.7em;
    font-weight: bold;
    color: $secondaryColor;
    padding-right: 5px;
  }
}