// Kitten show page
#kitten-view, #cattery-view, #contact {
  h1 {
    .info-link {
      color: $primaryColor;
      text-decoration: underline;
    }
  }

  .location-stamp {
    font-size: 1.6em;
    text-transform: uppercase;
    margin: 0 0 1.68rem 0 !important;
  }

  img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: $z-depth-2;
  }

  // Kitten main content
  .picture-main-container {
    text-align: center;
    margin-bottom: 25px;
  }

  .picture-main {
    width: 80%;
    height: auto;
    margin: 0 auto;
  }

  .cat-name {
    font-size: 2em;
    text-transform: uppercase;
    margin: -1.5rem 0 1rem 0;
  }

  .info-main {
    .row {
      margin-left: auto;
      margin-right: auto;
    } 
  }

  .info-main, .contact-info-block {
    font-size: 2em;

    @include small-and-down {
      font-size: 1.8em;
    }

    .info-block {
      border: none;
    }

    .info-title, .info-text {
      padding: 10px 0px;
    }
    
    .info-title {
      font-size: 0.75em;
      font-weight: bold;
      text-transform: uppercase;
      width: auto;
      width: 1px;
      padding: 10px;
      white-space: nowrap;
    }

    .chips-container {
      @include small-and-down {
        text-align: center;
      }
    }

    .chip {
      font-weight: bold;
      color: $white; 
      box-shadow: $z-depth-2;
      padding: 0 20px;

      .material-icons {
        color: $white;
        padding-right: 5px;
        position: relative;
        top: 5px;
      }
    }

    .chip.success {
      background-color: $secondaryColor;
    }

    .chip.fail {
      background-color: $accent3Color;
    }
    
    .available-message {
      font-size: 0.9em;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      margin: 15px auto;

      @include small-and-down {
        font-size: 0.8em;
        margin-top: 10px;
      }

      .check, .clear {
        position: relative;
        top: 5px;
        font-size: 1em;

        @include small-and-down {
          font-size: 1.2em;
        }
      }
    }

    .available-message.success {
      color: $secondaryColor;
      border-top: 4px dashed $secondaryColor;

      @include small-and-down {
        border-top: 2px dashed $secondaryColor;
      }
    }

    .available-message.fail {
      color: $accent3Color;
      border-top: 4px dashed $accent3Color;

      @include small-and-down {
        border-top: 2px dashed $accent3Color;
      }
    }

    .info-text {
      font-size: 0.9em;
      word-wrap: break-word;

      @include small-and-down {
        font-size: 0.75em;
        bottom: 0px;
      }
    }

    .info-link {
      color: $primaryColor;
      text-decoration: underline;
      transition: ease-in-out 0.2s;
      word-break: break-all;

      &:hover {
        font-weight: bold;
      }
    }

    .material-icons {
      font-size: 1.5em;
      position: relative;
      top: 2px;
    }

    .check {
      color: $secondaryColor;
    }

    .close {
      color: $errorShade;
    }
  }

  // Masonry layout
  .grid {
    display: none;
  }

  .grid.active {
    display: block;
  }

  .grid-col {
    float: left;
    height: auto;
    width: 25%;

    @include small-and-down {
      width: 50%;
    }
  }

  @include small-and-down {
    .grid-col--1, .grid-col--2 {
      display: none;
    }
  }

  .pictures-other-container {    
    .image-placeholder {
      display: inline-block;
      padding: 0.5em;

      .thumbnail {
        width: 100%;
        height: auto;
      }
    }
  }

  .pictures-other-container, .pictures-parents-container, .other-kittens {
    @include small-and-up {
      padding: 0 5%;
    }
  } 

  // Kitten parents
  .parents, .other-kittens {
    h1 {
      margin: 3rem auto;

      @include small-and-down {
        margin: 0rem auto 1.5rem auto;
      }
    }
  }

  .parents {
    .picture-parent-container {
      overflow: hidden;

      @include small-and-down {
        margin-top: 15px;
      }
      
      @include small-and-up {
        padding: 0.5em 0.75em 0.5em 0;
      }
      
      img {
        width: 100%;
        height: auto;
      }
    }

    .parent-info {
      text-align: center;
      margin-top: -15px;
      
      h3 {
        font-weight: bold;
      }

      .info-block {
        margin: 10px auto;

        h4, span {
          font-size: 1.2em;
        }
        h4 {
          display: inline-block;
          font-weight: bold;
          text-transform: uppercase;
          margin: 0;
        }
      }
    }

    .btn {
      &:hover {
        background-color: darken($color: $secondaryColor, $amount: 10%);
      }
    }

    .modal {
      font-size: 1.2em;

      @include small-and-up {
        padding: 25px;
      }

      h4, p {
        font-weight: bold;
        text-align: left;
      }

      @include small-and-down {
        h4 {
          font-size: 1.5em;
        }
      }

      .circle {
        position: absolute;
        right: 15px;
        top: 15px;
        transition: 0.2s ease-in-out;
        padding: 5px;

        &:hover {
          color: $white;
          background-color: $primaryColor;
        }

        @include small-and-up {
          right: 20px;
          top: 20px;
        }
      }

      .test-block {
        text-align: left;
        font-size: 1em;
        font-weight: normal;
        padding: 5px 0;

        .row {
          margin-left: inherit;
        }

        .test-icon {
          float: left;
          font-size: 1.5em;
          color: $secondaryColor;
        }

        .test-name {
          position: relative;
          top: 5px;
          left: 10px;
        }
      }
    }
  } 

  // Other kittens from same litter
  .other-kittens, #litters, #kittens {
    .available-text, .check, .unavailable-text, .close  {
      font-size: 1.2em;
      font-weight: bold;    
    }

    .check, .close {
      font-size: 1.5em;
    }

    .info-available {
      position: relative;
      right: 15px;
      text-align: center;
      text-transform: uppercase;
      padding-top: 10px;
      margin-bottom: -10px;

      span {
        position: relative;
        left: 5px;
        bottom: 5px;
      }
    }

    .available-text, .check {
      color: $secondaryColor;
    }

    .unavailable-text, .close {
      color: $errorShade;
    }
  }

  #litters, #kittens {
    .available-text, .check, .unavailable-text, .close {
      font-size: 1em;
    }

    .info-available {
      position: relative;
      right: 0px;
      text-align: center;
    }
    .carousel, .carousel-item {
      max-height: 300px;
    }

    .indicators {
      display: block;
      transform: scale(1.3);
      bottom: -10px; 
    }
  }
}

// Card filter icon
.overflow-visible {
  overflow: visible !important;
}

.filter-icon-container {
  display: none;
  position: absolute;
  right: -10px;
  top: -20px;
  color: $primaryColor;
  background-color: $white;
  opacity: 0.9;
  z-index: 1;
  padding: 10px;

    .filter-list {
      font-size: 2em;
    }

    .add-circle, .check-circle {
      position: absolute;
      bottom: 10px;
      right: 6px;
      font-size: 1.1em;
    }

    .check-circle {
      display: none;
    }
}

.filter-icon-container.active {
  color: $secondaryColor;
  display: block;
}

.selected-filters-message {
  display:none;
  font-size: 1.1em;
  text-align: center;
  margin-top: -20px;
  margin-bottom: 20px;

  span, b {
    position: relative;
    bottom: 2px;
  }

  span {
    font-style: italic;
    padding-right: 5px;
  }

  .material-icons {
    position: relative;
    top: 5px;
    font-size: 1.7em;
    font-weight: bold;
    color: $secondaryColor;
    padding-right: 5px;
  }
}

// Litters card carousel indicators
#litters {
  .carousel {
    .indicators {
      .indicator-item {
        box-shadow: $z-depth-1;
      }
    }
  }
}

// Breed show page
.breed-show {
  img, .paragraph-block {
    border-radius: 10px;
  }

  .breed-image {
    width: 100%;
    text-align: center;
  }

  img {
    width: 80%;
    margin: 0 auto;

    @include small-and-down {
      width: 100%;
    }
  }

  .breed-property {
    margin: 10px auto;

    .col {
      padding: 0 0.25rem;
    }

    @include medium-large-and-down {
      text-align: center;
      margin: 25px auto;
    }
  }

  .range-title {
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 15px;
    overflow: visible;

    @include medium-only {
      text-align: right;
      font-size: 1.5em;
      margin-right: 5px;
    }

    @include small-and-down {
      font-size: 1.5em;
    }
  }

  .range-dots{
    $dot-size: 2.3rem;
    
    @include medium-only {
      display: block;
      text-align: left;
    }

    @include small-and-down {
      $dot-size: 2.1rem;
    }

    i {
      background-color: $primaryShade2;
      height: $dot-size;
      width: $dot-size;
      border-radius: 50%;
      margin: 0px 5px;
      display: inline-block;
      box-shadow: $z-depth-2;
    }
    
    i.active {
      background-color: $primaryColor;
    }
  }

  .paragraph-block {
    font-size: 1.2em;
    background-color: $white;
    padding: 30px;
    margin: 5rem auto;

    h1 {
      margin-top: 0px;
      margin-left: auto;
      margin-right: auto;

      @include small-and-down {
        font-size: 2.2em;
        margin-bottom: 0px;
      }
    }
    
    .text-box {
      position: relative;
      overflow: hidden;
    }

    p {
      letter-spacing: 0.5px;
      line-height: 30px;
      padding: 15px 0px;

      @include small-and-down {
        text-align: start;
        word-wrap: break-word;
        letter-spacing: 1px;
      }
    }

    .truncation-link {
      cursor: pointer;
      font-size: 1.1em;
      font-weight: bold;
      color: $primaryColor;
      transition: 0.2s ease-in-out;

      position: absolute; 
      bottom: 0; 
      left: 0;
      width: 100%; 
      margin: 0;

      &:hover {
        text-decoration: underline;
      }
    }

    .truncation-link.more {
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), $white);
    }

    .more {
      padding-top: 100px; 
    }

    .less {
      bottom: -5px;
    }
  }
}

// Social media buttons

// Cattery sociale media pages
.social {
  width: 100%;
  margin: 15px 0px;

  @include small-and-down {
    .col {
      text-align: center;
    }
  }
  
  .btn-large {
    margin: 0px 10px;
    transition: 0.2s cubic-bezier(0.57, 0.04, 0.61, 1.3);

    &:hover {
      transform: scale(1.15);
      
    }

    .svg-inline--fa {
      transform: scale(1.8);
      vertical-align: middle;
    }

    .fa-instagram {
      transform: scale(2);
    }
  }
}

// Share buttons
.social-media {
  text-align: center;

  .btn-social-share {
    margin: 0 10px;
    letter-spacing: 2px;

    @include small-and-down {
      margin: 15px; 
    }
    
    &:hover {
      transform: scale(1.05);
    }
  }
}