// Base
@font-face {
  font-family: Roboto;
  src: url('/fonts/Roboto-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  src: url('/fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: bold;
  font-display: swap;
}

html, body {
  scroll-behavior: none !important;
}

body {
  background-color: $canvasColor;
  font-family: Roboto, sans-serif;
  width: 100%;
}

.row, .col {
  height: inherit;
}

a {
  cursor: pointer;
}

.container {
  margin: 0 auto;
}

.card {
  .card-image {
    max-width: 100%;
    height: 100%;
    overflow: hidden;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0px;
  }
}

.waves-effect.waves-light .waves-ripple {
  /* The alpha value allows the text and background color
  of the button to still show through. */
   background-color:  #ffffff80 !important;
 }