// Base
@font-face {
  font-family: "Source Sans Pro";
  src: url('/fonts/SourceSansPro-Regular.ttf') format('truetype');
  font-display: block;
}

@font-face {
  font-family: Roboto;
  src: url('/fonts/Roboto-Regular.ttf') format('truetype');
  font-display: block;
}

body {
  background-color: $canvasColor;
  font-family: "Source Sans Pro", Roboto, sans-serif;
  width: 100%;
}

.row, .col {
  height: inherit;
}

a {
  cursor: pointer;
}