// Colors

// Standard
$white: #fff;
$black: #111;
$inactiveGrey: #9e9e9e;

// Backgrounds
$canvasColor: #f9f9f9; 
$backgroundColor: #fff; 
$foregroundColor: #111;

// Primary
$primaryColor: #a05793; 
$primaryShade1: #e5d1e1;
$primaryShade2: #d3b2cd;
$primaryShade3: #b984b0;
$primaryShade4: #925086;
$primaryShade5: #834879;
$primaryShade6: #e5d1e154;

// Secondary
$secondaryColor: #4db6ac;
$secondaryShade1: #80cbc4;
$secondaryShade2: #b2dfdb;
$secondaryShade3: #e0f2f1;
$secondaryShade4: #009688;
$secondaryShade5: #26a69a;

// Accents
$accentColor: #245e71;
$accentShade1: #d7e1e5;
$accentShade2: #afc4cb;
$accentShade3: #7398a4;
$accentShade4: #4b7b8a;
$accentShade5: #1e4d5d;
$accent2Color: #2aa5a1;
$accent2Shade1: #d8eeed;
$accent2Shade2: #9ed6d4;
$accent2Shade3: #64bdba;
$accent2Shade4: #279693;
$accent2Shade5: #1f7976;
$accent3Color: #92374d;
$accent3Shade1: #ebdad3;
$accent3Shade2: #cda4ae;
$accent3Shade3: #af6d7d;
$accent3Shade4: #853246;
$accent3Shade5: #6b2939;

// Alerts
$alertSuccess: #7cb342;
$alertNotice: #fb8c00;
$errorColor: #ff5252;
$errorShade: #e53935;

// Image thumbnails resolution
$imgHeight: 300px;