// Shadows
$z-depth-1: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
$z-depth-2: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
$z-depth-3: 0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
$z-depth-4: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -7px rgba(0,0,0,0.2);
$z-depth-5: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);

// Colors

// Standard
$white: #fff;
$black: #111;
$inactiveGrey: #9e9e9e;

// Backgrounds
$canvasColor: #f9f9f9; 
$backgroundColor: #fff; 
$foregroundColor: #111;

// Primary
$primaryColor: #a05793; 
$primaryShade1: #e5d1e1;
$primaryShade2: #d3b2cd;
$primaryShade3: #b984b0;
$primaryShade4: #925086;
$primaryShade5: #834879;
$primaryShade6: #e5d1e154;

// Secondary
$secondaryColor: #4db6ac;
$secondaryShade1: #80cbc4;
$secondaryShade2: #b2dfdb;
$secondaryShade3: #e0f2f1;
$secondaryShade4: #009688;
$secondaryShade5: #26a69a;

// Accents
$accentColor: #245e71;
$accentShade1: #d7e1e5;
$accentShade2: #afc4cb;
$accentShade3: #7398a4;
$accentShade4: #4b7b8a;
$accentShade5: #1e4d5d;
$accent2Color: #2aa5a1;
$accent2Shade1: #d8eeed;
$accent2Shade2: #9ed6d4;
$accent2Shade3: #64bdba;
$accent2Shade4: #279693;
$accent2Shade5: #1f7976;
$accent3Color: #92374d;
$accent3Shade1: #ebdad3;
$accent3Shade2: #cda4ae;
$accent3Shade3: #af6d7d;
$accent3Shade4: #853246;
$accent3Shade5: #6b2939;

// Alerts
$alertSuccess: #7cb342;
$alertNotice: #fb8c00;
$errorColor: #ff5252;
$errorShade: #e53935;

// Image thumbnails resolution
$imgHeight: 300px;

// Social media
$facebook-primary: #3b5998;
$instagram-primary: #C13584;
$twitter-primary: #00acee;