<div class="container">
  <div class="form">
    <div class="row">
      <h2 class="form-title"><%= t('words.add', kind: (I18n.t "#{@form}", count:1).downcase ) %></h2>
    </div>

    <%= render 'form', :locals => {:controller => 'pairs', :action => 'create'} %>

  </div>
</div>