<!-- Page specific meta data -->
<% content_for :meta_title, "#{DEFAULT_META["meta_title"]} | Breeds" %>

<div class="container breeds-index">
  <div class="row">
    <h1><%= t('header.breeds') %></h1>
  </div>

  <div class="row">
    <%= render 'search', :locals => {:controller => 'breeds', :action => 'index'} %>
  </div>

  <div id="breeds" class="row">
    <%= render partial: 'page_items' %>
  </div>

  <div class="preloader-wrapper" id="preloader">
    <div class="spinner-layer spinner-teal-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>

<div id="div_next_link">
  <%= render partial: 'shared/next_link' %>
</div>