  <div class="row">
    <div class="col s10 offset-s1 m8 offset-m2">
      <div class="input-field">
        <button class="reset-dropdown circle">
          <i class="material-icons">restore</i>
        </button>
        <%= f.select(:litters_filter, options_for_select(@all_litters), {disabled: "", prompt: t('select.select_litters_to_filter')}, {:multiple => true, class:"form-filter icons"}) %>
      </div>
    </div>
  </div>
