<div class="row">
  <div class="col s10 offset-s1 m8 offset-m2">
    <div class="input-field">
      <button class="reset-dropdown circle">
        <i class="material-icons">restore</i>
      </button>
      <%= f.select(:parents_filter, options_for_select(@all_parents), {disabled: "", prompt: t('select.select_parents_to_filter')}, {multiple: true, class:"form-filter icons", autocomplete:"off"}) %>
    </div>
  </div>
</div>