function replaceCatteries (innerHTML) {
  var catteries = $('#catteries');
  $('.preloader-wrapper').removeClass('active');
  if (window.active_filter) {
    $(catteries).html('');
  }
  $(innerHTML).appendTo(catteries).hide().fadeIn(400);
  objectFitPolyfill();
}

<% if @catteries.present? %>
replaceCatteries("<%= j(render 'page_items')%>");
$('#div_next_link').html("<%= j(render 'shared/next_link') %>");
<% else %>
replaceCatteries("<div class='col s12 center-align'><span class='empty-message'><%= t('index.no_catteries_found') %>!</span></div>");
<% end %>

