<div class="row">
  <button id="facebookShareBtn" class="facebook btn-social-share waves-effect btn-large">
    <i class="fab fa-facebook-f"></i>
    Share on facebook
  </button>
  <%= link_to @tweet_url, class:"twitter btn-social-share waves-effect btn-large" do %>
    <i class="fab fa-twitter"></i>
    Share on twitter
  <% end %>
</div>