  <p>Please <%= link_to "contact support", contact_path(@support), class:"inline-link" %> if this keeps happening.</p>
  <div><%= link_to "Return to homepage", root_path, class:"waves-effect waves-light btn-large" %></div>
