<div class="container error">
  <h1>404 - Not found</h1>
  <p>Oops! We can't seem to find what you're looking for.</p>
  <%= render 'error_links' %>
  <div class="image-container">
    <%= image_tag("not_found.svg", :alt => "inernal error", class:"error-image") %>
  </div>
</div>