<div class="container error">
  <h1>422 -  Unprocessable Entity</h1>
  <p>Oops! We couldn't process that request.</p>
  <%= render 'error_links' %>
  <div class="image-container">
    <%= image_tag("unacceptable.svg", :alt => "inernal error", class:"error-image") %>
  </div>
</div>