function replaceKittens (innerHTML) {
  var kittens = $('#kittens');
  $('.preloader-wrapper').removeClass('active');
  $(kittens).append(innerHTML);
}

<% if @kittens.present? %>
replaceKittens("<%= j(render 'page_items')%>");
$('#div_next_link').html("<%= j(render 'shared/next_link') %>");
<% else %>
replaceKittens("<div class='col s12 center-align'><span class='empty-message'><%= t('index.no_kittens_found') %>!</span></div>");
<% end %>

